@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
html, body {
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: linear-gradient(90deg, lightgreen, rgb(180, 237, 195));
}
.navbar {
    margin-bottom: 10px;
}
a {
    margin-left: 3px;
}
